@import url(http://fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,200,700);


/*************************
*******Typography******
**************************/

body {
  font-family: 'Dosis', sans-serif;
  font-size: 17px;
}


.btn {
  border-radius: 0;
  font-family: 'Yanone Kaffeesatz','sans-serif';
  font-size: 20px;
  padding: 9px 23px;
}

a {
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

a:focus,
a:hover {
  text-decoration: none;
  outline: none
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Yanone Kaffeesatz', 'sans-serif';
  font-weight: 300;
  text-transform: uppercase;
}

h2 {
  font-size: 36px
}

.navbar-toggle {
  margin-top: 12px
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-toggle,
.navbar-toggle:focus {
  border:1px solid #fff;
  outline: none;
}


/*************************
*******Header CSS******
**************************/

.header-top {
  display: block;
  overflow: hidden;
  padding: 25px;
}

.main-nav {
  position: absolute;
  width: 100%;
  z-index: 999;
}

.main-nav
.container {
  width: 100%
}

.social-icons a {
  font-size: 30px;
  color: #fff;
  padding-left:20px;
  position: relative;
  z-index: 30;
}

.social-icons .fa-facebook:hover {
  color: #3B5997
}

.social-icons .fa-twitter:hover {
  color:#29C5F6
}

.social-icons .fa-google-plus:hover {
  color:#D13D2F
}

.social-icons .fa-youtube:hover{
  color: #ec5538
}

.navbar-brand {
  height: 90px;
  margin-bottom: 20px;
  position: relative;
  width: 297px;
}

.navbar-brand img {
  position: absolute;
  top: -35px;
}

.navbar-right {
  background-color: #1B7B98;
  padding:0 95px 0 0;
  opacity: .9
}

.navbar-right li a {
  padding: 35px 21px;
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Yanone Kaffeesatz', 'sans-serif';
  font-weight: 300;
}

.navbar-right li a:hover,
.navbar-right li a:focus,
.navbar-right .active a {
  background-color: #fff;
  color: #16728f
}


.fixed-menu {
  background-color: #1B7B98;
  position: fixed;
  top: 0;
}

.fixed-menu .navbar-right {
  padding: 0;
}


.fixed-menu .navbar-right li a {
  font-size: 18px;
  padding: 20px 25px;
  text-shadow:inherit;
}

.fixed-menu .navbar-brand {
  height: 60px;
  margin-top: 0;
  padding: 0;
  margin-bottom: 0;
  width: 125px;
}

.fixed-menu .navbar-brand img {
  height:60px;
  top: 0;
}

.fixed-menu .header-top {
  display: none;
}



/*************************
*******Hover******
**************************/
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}


/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}





/*************************
*******Home CSS******
**************************/

#home {
  position: relative;
  overflow: hidden;
}

#main-slider img {
  width: 100%
}

#main-slider
.carousel-caption {
  background: none repeat scroll 0 0 #000000;
  bottom: 14%;
  float: left;
  left: 0;
  opacity: 0.8;
  padding:10px 60px 35px;
  right: inherit;
  text-transform: uppercase;
  color: #fff;
  text-align: left;
}


#main-slider
.carousel-caption h2 {
  font-size: 38px;

}

#main-slider
.carousel-caption h4 {
  font-size: 24px;
}

#main-slider
.carousel-caption a {
  font-size: 22px;
  color: #2da1c5
}

#main-slider
.carousel-caption a:hover {
  color: #2588a6
}

#main-slider
.carousel-caption a:hover i {
  margin-left: 35px
}

#main-slider
.carousel-caption a i {
  margin-left: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#main-slider
.carousel-indicators li {
  background-color:#1B7B98;
  border: 1px solid #1B7B98;
}

#main-slider
.carousel-indicators li.active {
  background-color:#fff;
  border: 1px solid #fff;
}

/*************************
*******Explore CSS******
**************************/

#explore {
  background-color: #000000;
  background-position: center bottom;
  background-size: contain;
  background-repeat:no-repeat;
  position: relative;
  overflow: hidden;
  padding: 50px 0    50px;
  z-index: 2;
}



#explore h2 {
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

#countdown {
  display: block;
  overflow: hidden;
  text-align: center;
  padding: 0
  z-index: 2;

}

#countdown li {
  list-style: none;
  display:inline-block;
  margin-right: 40px;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  position: relative;
}
#countdown p{
color: #1B7B98;
}


#countdown li:last-child {
  margin-right: 0
}

#countdown li span {
  display: block;
  font-size: 40px;
  font-weight: 700;
  height: 82px;
  line-height: 79px;
  color: #ffffff;
  width: 75px;
  border-radius: 10px;
  border-right: 1px solid #1B7B98;
  border-bottom: 1px solid #1B7B98;
  z-index: 30;
position: relative;
}

#countdown li .days {
  position: relative;
  z-index: 23;

  background-color: #1B7B98;
  border-top: 1px solid #1B7B98;
  border-left: 1px solid #1B7B98;
}

#countdown li .hours {
  position: relative;
  z-index: 30;

  background-color: #1B7B98;
  border-top: 1px solid #1B7B98;
  border-left: 1px solid #1B7B98;
}

#countdown li .minutes {
  position: relative;

  background-color: #1B7B98;
  border-top: 1px solid #1B7B98;
  border-left: 1px solid #1B7B98;
  z-index: 30;

}

#countdown li .seconds {
  position: relative;
  z-index: 30;
  background-color: #1B7B98;
  border-top: 1px solid #1B7B98;
  border-left: 1px solid #1B7B98;
}

#countdown li:before {
  background-color: #FFFFFF;
  content: "";
  height: 11px;
  left: 0;
  position: absolute;
  top: 36px;
  width: 1px;
}

#countdown li:after {
  background-color: #FFFFFF;
  content: "";
  height: 11px;
  right:0;
  position: absolute;
  top: 36px;
  width: 1px;
}

/*************************
*******Quote CSS******
**************************/

#quote {
  background-color: #000000;
  background-position: center bottom;
  background-size: contain;
  background-repeat:no-repeat;
  position: relative;
  overflow: hidden;
  padding: 50px 0    50px;
  z-index: 2;
}



#quote p {
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}




/*************************
*******Quote CSS******
**************************/

#gall {
  background-color: #000000;
  background-position: center bottom;
  background-size: contain;
  background-repeat:no-repeat;
  position: relative;
  overflow: hidden;
  padding: 50px 0    50px;
  z-index: 2;
}



#gall p {
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

#gall h2 {
  text-transform: uppercase;
  color: #ffffff;
}


/*************************
*******Registration CSS******
**************************/

#registation {
  background-color: #000000;
  background-position: center bottom;
  background-size: contain;
  background-repeat:no-repeat;
  position: relative;
  overflow: hidden;
  padding: 50px 0    50px;
  z-index: 2;
}



#registation p {
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

#registation h2 {
  text-transform: uppercase;
  color: #ffffff;
}



 /*************************
*******Event CSS******
**************************/
#event {
  background-color: #000000;
  background-position: 50% 0;
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
}

.guitar {
  position: absolute;
  right:0;
  top: 0
}


#event h2 {
  color: #FFFFFF;
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 40px;
  margin-top: 70px;
  text-transform: uppercase;
}

.single-event {
  margin-bottom: 70px;
}

.single-event h4 {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 300;
  line-height: 26px;
  margin-top: 25px;
  text-transform: uppercase;
}


.single-event h5 {
  font-size: 18px;
  font-weight: 100;
  display: block;
}

#event-carousel {
  position: relative;
}

.even-control-left,
.even-control-right {
  position: absolute;
  font-size: 24px;
  color: #fff;
  top: 0;
}

.even-control-left {
  right: 3%
}

.even-control-right {
  right: 0;
}


/*************************
*******About CSS**********
**************************/

#about {
    background-color: #000000;
  position: relative;
  width: 100%;
  display: flex;

}

.guitar2 {
  top: 0;
  width: 50%;

}

.guitar2 img {
  position: relative;
  padding-top: 3%;
  z-index: 10;
}

.about-content {
  width: 50%;
  background-color: #000000;
  background-position: left bottom;
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 70px 110px;
}


#about h2 {
  margin-bottom: 23px;
    z-index: 30;
}

#about h3 {
  margin-bottom: 23px;
    z-index: 30;
}

.about-content p {
  font-size: 17px;
  font-family: 'Dosis',sans-serif;
    z-index: 30;
}

#about .btn-primary {
  background-color: #0b5d70;
  color: #fff;
  position: relative;
  text-transform: capitalize;
  border: none;
  margin-top: 28px;
  z-index: 30;
}

#about .btn-primary:hover {
  background-color: #0f7286
}



/*************************
******Sponsor CSS****
**************************/

#sponsor {
  background-color: #000000;
  background-position:50% 0;
  background-size: cover;
  background-repeat:no-repeat;
  position: relative;
}

.light {
  position: absolute;
  right: 0;
  bottom: 0;
}

#sponsor .col-sm-10 {
  z-index: 10;
}

#sponsor h2 {
  margin-top: 90px;
  margin-bottom: 40px;
  color: #ffffff;
}

#sponsor .item ul {
  font-size: 0;
  padding: 0;
}


#sponsor .item ul li {
  display: inline-block;
  list-style: none;
  width: 33.33%;
  margin-bottom: 75px;
}

#sponsor .item ul li:last-child {
  margin-right: 0
}

.sponsor-control-left,
.sponsor-control-right {
  color: #FFFFFF;
  font-size: 24px;
  position: absolute;
  top: 20%;
}

.sponsor-control-left {
  right: 12%
}

.sponsor-control-right {
  right: 10%
}


/*************************
******Map CSS****
**************************/
#map {
  position: relative;
  z-index: 30;
}

#gmap {
  height:450px;
  position: relative;
  z-index: 30;

}


/*************************
******Contact CSS****
**************************/

.contact-section {
  background-color: #000000;
  background-position:60% 0;
  background-size:contain;
  background-repeat:no-repeat;
  position: relative;
}

#contact .btn-primary {
  position: relative;
  z-index: 20;
}
#contact .container {
  padding-top:47px;
  background: #000000;
}

#contact h3 {
  text-transform:inherit;
  color: #ffffff;
  position: relative;
  z-index: 30;
}
#contact h2 {
  text-transform:inherit;
  color: #ffffff;
  position: relative;
  z-index: 30;
}

#contact-section h3 {
  position: relative;
z-index: 30;
  margin-bottom: 25px
  color: #ffffff;

}
.contact-section h1 {
  position: relative;
z-index: 30;
  color: #ffffff;

}

#contact address {
  font-size: 18px;
  color: #ffffff;
  position: relative;
  z-index: 30;
}

.contact-text {
  margin-bottom: 35px;
  display: block;
  color: #ffffff;
  position: relative;
  z-index: 30;
}


#contact-section .form-control {
  border-color: #ae750d;
  box-shadow:none;
  outline: 0 none;
  border-radius: 0;
  color: #797979;
  font-size: 18px;

}

#contact-section .form-control:focus {
  border-color: #ae750d;
}

#contact-section input {
  height: 44px;
}

#contact-section textarea {
  height: 90px;
  resize:none;
}

#contact-section .btn-primary {
  background-color: #373737;
  color: #f7ab24;
  border: none;
  font-size: 24px;
  padding: 6px 42px;
  margin-bottom: 110px;
  margin-top: 10px
  position: relative;
  z-index: 30;
}

#contact-section .btn-primary:hover {
  background-color: #212020;
  color: #fff
  position: relative;
  z-index: 30;
}



/*************************
******Footer CSS****
**************************/

#footer {
  background-color: #000000;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  font-size: 20px;
  padding: 35px 0;
}

#footer img {
  position: relative;
  z-index: 30;
}

#footer a {
  color:#f7ab24
}

#footer a:hover {
  color:#1B7B98
}




p.ty{
  color: #1B7B98;
font-family: "Courier";
font-size: 20px;
margin:0px 0 0 0px;
padding-top: 250px;

white-space: nowrap;
overflow: hidden;
width: 30em;

}





  /* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */



#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    z-index: 1001;
}

#centers {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1005;
  left: 37.5%;
  top: 35%;

}





    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: #000000;
        z-index: 1000;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

    /* Loaded */
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;
                transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.3s 1s ease-out;
                transition: all 0.3s 1s ease-out;
    }

    /* JavaScript Turned Off */
    .no-js #loader-wrapper {
        display: none;
    }
    .no-js h1 {
        color: #222222;
    }








/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/*
	Ok so you have made it this far, that means you are very keen to on my code.
	Anyway I don't really mind it. This is a great way to learn so you actually doing the right thing:)
	Follow me @ihatetomatoes
*/





			.socket{
				width: 200px;
				height: 200px;
				position: absolute;
				left: 50%;
				margin-left: -100px;
				top: 50%;
				margin-top: -100px;
			}

			.hex-brick{
			  background: #1B7B98;
			  width: 30px;
			  height: 17px;
			  position: absolute;
			  top: 5px;
        animation-name: fadepre;
				animation-duration: 2s;
				animation-iteration-count: infinite;
				-webkit-animation-name: fadepre;
				-webkit-animation-duration: 2s;
				-webkit-animation-iteration-count: infinite;
			}

			.h2{
				transform: rotate(60deg);
				-webkit-transform: rotate(60deg);
			}

			.h3{
				transform: rotate(-60deg);
				-webkit-transform: rotate(-60deg);
			}

			.gel{
				height: 30px;
				width: 30px;
				transition: all .3s;
				-webkit-transition: all .3s;
				position: absolute;
        top: 50%;
        left: 50%;
			}

			.center-gel{
				margin-left: -15px;
				margin-top: -15px;

				animation-name: pulsepre;
				animation-duration: 2s;
				animation-iteration-count: infinite;
				-webkit-animation-name: pulsepre;
				-webkit-animation-duration: 2s;
				-webkit-animation-iteration-count: infinite;
			}

			.c1{
				margin-left: -47px;
				margin-top: -15px;
			}

			.c2{
				margin-left: -31px;
				margin-top: -43px;
			}

			.c3{
				margin-left: 1px;
				margin-top: -43px;
			}

			.c4{
				margin-left: 17px;
				margin-top: -15px;
			}
			.c5{
				margin-left: -31px;
				margin-top: 13px;
			}

			.c6{
				margin-left: 1px;
				margin-top: 13px;
			}

			.c7{
				margin-left: -63px;
				margin-top: -43px;
			}

			.c8{
				margin-left: 33px;
				margin-top: -43px;
			}

			.c9{
				margin-left: -15px;
				margin-top: 41px;
			}

			.c10{
				margin-left: -63px;
				margin-top: 13px;
			}

			.c11{
				margin-left: 33px;
				margin-top: 13px;
			}

			.c12{
				margin-left: -15px;
				margin-top: -71px;
			}

			.c13{
				margin-left: -47px;
				margin-top: -71px;
			}

			.c14{
				margin-left: 17px;
				margin-top: -71px;
			}

			.c15{
				margin-left: -47px;
				margin-top: 41px;
			}

			.c16{
				margin-left: 17px;
				margin-top: 41px;
			}

			.c17{
				margin-left: -79px;
				margin-top: -15px;
			}

			.c18{
				margin-left: 49px;
				margin-top: -15px;
			}

			.c19{
				margin-left: -63px;
				margin-top: -99px;
			}

			.c20{
				margin-left: 33px;
				margin-top: -99px;
			}

			.c21{
				margin-left: 1px;
				margin-top: -99px;
			}

			.c22{
				margin-left: -31px;
				margin-top: -99px;
			}

			.c23{
				margin-left: -63px;
				margin-top: 69px;
			}

			.c24{
				margin-left: 33px;
				margin-top: 69px;
			}

			.c25{
				margin-left: 1px;
				margin-top: 69px;
			}

			.c26{
				margin-left: -31px;
				margin-top: 69px;
			}

			.c27{
				margin-left: -79px;
				margin-top: -15px;
			}

			.c28{
				margin-left: -95px;
				margin-top: -43px;
			}

			.c29{
				margin-left: -95px;
				margin-top: 13px;
			}

			.c30{
				margin-left: 49px;
				margin-top: 41px;
			}

			.c31{
				margin-left: -79px;
				margin-top: -71px;
			}

			.c32{
				margin-left: -111px;
				margin-top: -15px;
			}

			.c33{
				margin-left: 65px;
				margin-top: -43px;
			}

			.c34{
				margin-left: 65px;
				margin-top: 13px;
			}

			.c35{
				margin-left: -79px;
				margin-top: 41px;
			}

			.c36{
				margin-left: 49px;
				margin-top: -71px;
			}

			.c37{
				margin-left: 81px;
				margin-top: -15px;
			}

			.r1{
				animation-name: pulsepre;
				animation-duration: 2s;
				animation-iteration-count: infinite;
				animation-delay: .2s;
				-webkit-animation-name: pulsepre;
				-webkit-animation-duration: 2s;
				-webkit-animation-iteration-count: infinite;
				-webkit-animation-delay: .2s;
			}

			.r2{
				animation-name: pulsepre;
				animation-duration: 2s;
				animation-iteration-count: infinite;
				animation-delay: .4s;
				-webkit-animation-name: pulsepre;
				-webkit-animation-duration: 2s;
				-webkit-animation-iteration-count: infinite;
				-webkit-animation-delay: .4s;
			}

			.r3{
				animation-name: pulsepre;
				animation-duration: 2s;
				animation-iteration-count: infinite;
				animation-delay: .6s;
				-webkit-animation-name: pulsepre;
				-webkit-animation-duration: 2s;
				-webkit-animation-iteration-count: infinite;
				-webkit-animation-delay: .6s;
			}

			.r1 > .hex-brick{
				animation-name: fadepre;
				animation-duration: 2s;
				animation-iteration-count: infinite;
				animation-delay: .2s;
				-webkit-animation-name: fadepre;
				-webkit-animation-duration: 2s;
				-webkit-animation-iteration-count: infinite;
				-webkit-animation-delay: .2s;
			}

			.r2 > .hex-brick{
				animation-name: fadepre;
				animation-duration: 2s;
				animation-iteration-count: infinite;
				animation-delay: .4s;
				-webkit-animation-name: fadepre;
				-webkit-animation-duration: 2s;
				-webkit-animation-iteration-count: infinite;
				-webkit-animation-delay: .4s;
			}

			.r3 > .hex-brick{
				animation-name: fadepre;
				animation-duration: 2s;
				animation-iteration-count: infinite;
				animation-delay: .6s;
				-webkit-animation-name: fadepre;
				-webkit-animation-duration: 2s;
				-webkit-animation-iteration-count: infinite;
				-webkit-animation-delay: .6s;
			}


			@keyframes pulsepre{
				0%{
					-webkit-transform: scale(1);
					transform: scale(1);
				}

				50%{
					-webkit-transform: scale(0.01);
					transform: scale(0.01);
				}

				100%{
					-webkit-transform: scale(1);
					transform: scale(1);
				}
			}

			@keyframes fadepre{
				0%{
					background: #1B7B98;
				}

				50%{
					background: #1B7B98;
				}

				100%{
					background: #1B7B98;
				}
			}

			@-webkit-keyframes pulsepre{
				0%{
					-webkit-transform: scale(1);
					transform: scale(1);
				}

				50%{
					-webkit-transform: scale(0.01);
					transform: scale(0.01);
				}

				100%{
					-webkit-transform: scale(1);
					transform: scale(1);
				}
			}

			@-webkit-keyframes fadepre{
				0%{
					background: #1B7B98;
				}

				50%{
					background: #1B7B98;
				}

				100%{
					background: #1B7B98;
				}
			}
